<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmation</title>
    <link rel="stylesheet" href="styles/confirm.css" />
  </head>
  <body>
    <main class="main-body">
      <form>
        <div>
          <img href="#" />
          <h2>Thank you for your order!</h2>
          <p>Your ice cream order has been confirmed!</p>
        </div>

        <div id="personal-info-container">
          <h6>Personal information</h6>
          <div>
            <div>
              <p>Name:</p>
              <p>Email:</p>
            </div>
          </div>
        </div>
        <div class="order-details">
          <h2>Order Details</h2>
          <p>Flavor:</p>
          <p>Cone Type:</p>
          <p>Toppings</p>
        </div>
        <div><h4>Additional Information</h4></div>
        <div class="button-section">
          <button>Print order</button>
          <button>Place another order</button>
        </div>
      </form>
    </main>
  </body>
</html>
