<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmation</title>
    <link rel="stylesheet" href="styles/confirm.css" />
        <!-- Favicon -->
    <link rel="icon" href="images/icecream.png" />
  </head>
  <body>
    <main class="main-body">
      <form>
        <div class="image">
          <img
            src="images/checkmark.png"
            alt="picture of checkmark"
            width="100"
          />
        </div>

        <div class="heading-container">
          <h1>Thank You for Your Order!</h2>
          <p>Your ice cream order has been confirmed!</p>
        </div>

        <div id="personal-info-container">
          <h6>Personal information</h6>
          <div>
            <div>
              <p>Name:</p>
              <p>Email:</p>
            </div>
          </div>
        </div>
        <div class="order-details">
          <h2>Order Details</h2>
          <p>Flavor:</p>
          <p>Cone Type:</p>
          <p>Toppings</p>
        </div>
        <div><h4>Additional Information</h4></div>
        <div class="button-section">
          <button id="print-button">Print Order</button>
          <a id="place-button" href="/">Place Another Order</a>
        </div>
      </form>
    </main>
  </body>
</html>
